.itemCant{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 36px;
  width: 100px;
  border: 1px solid grey;
}
.itemCant button{
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  width: 15px;
}
.itemCant button:hover{
  transform: scale(1.3);
}