.NavBarContainer{
  z-index: 7;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #9d9d9d;
  transition-duration: .5s;
}

.normalNavBar{
  height: 150px;
}
.smallNavBar{
  height: 100px;
}